<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Tag This!</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <link href="/tag-this.css" rel="stylesheet">
  <script src="/tag-this.js"></script>
</head>
<body ng-app="TagThisApp" ng-controller="TagThisController">
<div class="container">
  <form>
    <div class="from-group">
      <input class="form-control text-center" type="text" ng-model="tag" placeholder="Enter some text here" ng-change="updatePath()">
    </div>
  </form>
</div>
<div class="container" ng-hide="!tag">
  <h3 class="text-center">Site</h3>

  <p class="text-center">
    <!-- Stack Overflow -->
    <site-tag tag="tag" ng-model="sites.stackoverflow"></site-tag>
    <site-tag tag="tag" ng-model="sites.meta.stackoverflow"></site-tag>

    <!-- Server Fault -->
    <site-tag tag="tag" ng-model="sites.serverfault"></site-tag>
    <site-tag tag="tag" ng-model="sites.meta.serverfault"></site-tag>

    <!-- Super User -->
    <site-tag tag="tag" ng-model="sites.superuser"></site-tag>
    <site-tag tag="tag" ng-model="sites.meta.superuser"></site-tag>

    <!-- Ask Ubuntu -->
    <site-tag tag="tag" ng-model="sites.askubuntu"></site-tag>
    <site-tag tag="tag" ng-model="sites.meta.askubuntu"></site-tag>
  </p>

  <h3 class="text-center">Chat</h3>

  <p class="text-center">
    <!-- Stack Overflow -->
    <chat-tag tag="tag" ng-model="sites.stackoverflow"></chat-tag>
    <chat-tag tag="tag" ng-model="sites.meta.stackoverflow"></chat-tag>

    <!-- Server Fault -->
    <chat-tag tag="tag" ng-model="sites.serverfault"></chat-tag>
    <chat-tag tag="tag" ng-model="sites.meta.serverfault"></chat-tag>

    <!-- Super User -->
    <chat-tag tag="tag" ng-model="sites.superuser"></chat-tag>
    <chat-tag tag="tag" ng-model="sites.meta.superuser"></chat-tag>

    <!-- Ask Ubuntu -->
    <chat-tag tag="tag" ng-model="sites.askubuntu"></chat-tag>
    <chat-tag tag="tag" ng-model="sites.meta.askubuntu"></chat-tag>
  </p>
</div>
<div class="site-icons">
  <span class="text-muted" ng-hide="!accessToken">authenticated with SE API</span>
  <a href="https://stackexchange.com/oauth/dialog?client_id=3247&redirect_uri=http://wetagg.in" title="allow more queries by authenticating"><img src="//cdn.sstatic.net/stackexchange/img/favicon.ico" width="16"></a>
  <a href="https://github.com/oliversalzburg/tag.this" title="source code of this website"><img src="https://github.com/favicon.ico" width="16"></a>
</div>
</body>
</html>